#foot{
    background-color: #66c5b4;
    color: white;}
#foot .container{
    height: 54px;
    line-height: 54px;
    font-size: 12px;}
#foot p{
    /*color: white;*/
}
#foot div{

}
#foot div a{
    color: white;
    margin: 0 10px;
}